body {
  font-family: "Montserrat"
}
#title {
  background-color: #ff4c68;
  padding-bottom: 18px;
}
.Meet {
  font-family: 'Archivo Black', sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
  color: white;
}
.container-fluid {
  padding-top: 3%;
  padding-left: 15%;
  padding-right: 15%;
  padding-bottom: 9%;
}
.navbar {
  padding-left: 0;
  padding-right: 0;
}
.navbar-brand {
  font-size: 40px;
  font-family: "Ubuntu";
  font-weight: bold;
}
.col-lg-6 {
  padding-top: 41px;
}
.nav-item {
  padding-left: 17px;
  padding-right: 17px;
}
.nav-link {
  font-size:16px;
}
.nav-link:hover {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23453886' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
  background-position: bottom;
  background-repeat: repeat-x;
  background-size: 20%;
  border-bottom: 0;
  padding-bottom: .3em;
  text-decoration: none;
}
.download-button-android {
  margin-top: 20px;
  margin-left: 15px;
}
.download-button-ios {
  margin-top: 20px;
}
.tindog-iphone {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 140px;
}
#features {
  padding: 7% 15%;
  background-color: #fff;
  position: relative;
  z-index: 1;
}
.col-lg-4 {
  text-align: center;
  padding: 5%;
}
.text1 {
  font-size: 2rem;
  font-family: 'Archivo Black', sans-serif;
  color: black;
}
.text2 {
  color: grey;
}
.circle {
  position: relative;
  bottom: 20px;
  color: #ff4c68;
}
.bullseye {
  position: relative;
  bottom: 20px;
  color: #ff4c68;
}
.heart {
  position: relative;
  bottom: 20px;
  color: #ff4c68;
}
.circle:hover {
  color: red;
}
.bullseye:hover {
  color: red;
}
.heart:hover {
  color: red;
}
#testimonials {
  padding: 7% 15%;
  background-color: #ef8172;
  text-align: center;
}
.testimonial-text {
  font-family: 'Archivo Black', sans-serif;
  color: white;
  font-size: 48px;
  line-height: 1.5;
}
.testimonial-image {
  padding-top: 50px;
  border-radius: 90%;
  width: 150px;
}
.Pebbles {
  position: relative;
  left: 10px;
  color: white;
}
#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 4%;
}
.press-logo {
  margin: 20px;
  width: 200px;
}
.Beverly {
  color: white;
  position: relative;
  left: 10px;
}
.box1 {
  padding-right: 0px;
}
.box2 {
  padding-right: 0px;
}
.Chihuahua {
  font-family: 'Archivo Black', sans-serif;
  color: black;
}
.Labrador {
  font-family: 'Archivo Black', sans-serif;
  color: black;
}
.Mastiff {
  font-family: 'Archivo Black', sans-serif;
  color: black;
}
.Free {
  font-family: 'Archivo Black', sans-serif;
  color: black;
  font-size: 50px;
}
.plan {
  text-align: center;
  padding-top: 60px;
  font-family: 'Archivo Black', sans-serif;
  color: black;
  font-size: 50px;
  position: relative;
  top: 30px;
}
.simple {
  text-align: center;
  font-size: 20px;
  position: relative;
  top: 40px;
}
#cta {
  background-color: #ff4c68;
  padding: 7% 15%;
  text-align: center;
}
.True {
  font-family: 'Archivo Black', sans-serif;
  color: white;
  font-size: 48px;
  position: relative;
  bottom: 40px;
  line-height: 1.5;
}
.download-button-ios1 {
  position: relative;
  bottom: 20px;
}
.download-button-android1 {
  margin-left: 15px;
  position: relative;
  bottom: 20px;
}
#footer {
  background-color: white;
  text-align: center;
  padding: 7% 15%;
}
.Copyright {
  color: grey;
  padding-top: 10px;
}
.app-logo1 {
  margin: 10px;
}
.app-logo2 {
  margin: 10px;
}
.app-logo3 {
  margin: 10px;
}
.app-logo4 {
  margin: 10px;
}
.app-logo1:hover {
  color: blue;
}
.app-logo2:hover {
  color: blue;
}
.app-logo3:hover {
  color: pink;
}
.app-logo4:hover {
  color: #FFD523;
}
@media (max-width: 1050px) {
  .tindog-iphone {
    position: static;
    transform: rotate(0deg);
  }
  #title {
    text-align: center;
  }
  #cta {
    text-align: center;
  }
}
